@media only screen and (max-width: 480px) {
    .header {
        grid-template-columns: 2fr 1fr;
    }
    
    .nav {
        grid-column-start: 1;
        grid-column-end: 3;
        transition: 0.3s ease-in;
    }

    .open {
        display: none;
        max-height: 0;
    }

    .nav__list {
        text-align: center;
    }
    .hamburger-menu {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-right: 4vw;
    }

    .hamburger-menu a {
        font-size: 44px;
        min-width: 44px;
        min-height: 44px;
    }

    .header__title {
        font-size: 2.5em;
    }

    .nav__item {
        font-size: 2em;
        padding: 24px 5px;
    }
}


@media screen and (min-width: 480px) {
    .hamburger-menu {
        display: none;
    }

    .nav__item {
        font-size: 24px;
        padding: 24px 7px;
    }

    .header__title {
        font-size: 2.3em;
    }
}

@media screen and (min-width: 720px) {
    .header__title {
        font-size: 2em;
    }

    .nav__item {
        font-size: 1.5em;
    }  
}

@media screen and (min-width: 720px) {
    .explore-items {
        grid-template-columns: 1fr 1fr;
        gap: 10px;   
    }

    .header__title {
        font-size: 3em;
    }

    .nav__item {
        font-size: 2em;
    }
}
@media screen and (min-width: 992px) {
    
    .explore-items {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
        gap: 14px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 1200px) {
    main {
      max-width: 1200px;
      display: block;
      margin: auto auto;
    }
  }
  