<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Restaurant Catalog" />
    <meta name="keywords" content="Azar's Restaurant" />
    <link rel="icon" href="./images/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <a href="#main-content" class="skip-link">Main Content</a>
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title" tabindex="0">Azar's Resto</h1>
      </div>
      <div class="hamburger-menu">
        <a id="menu" class="hamburger-menu__icon" tabindex="0">☰</a>
      </div>
      <nav id="drawer" class="nav open">
        <ul class="nav__list">
          <li class="nav__item"><a href="/">HOME</a></li>
          <li class="nav__item"><a href="#">FAVORITE</a></li>
          <li class="nav__item">
            <a href="https://github.com/azarnuzy" target="_blank">ABOUT</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title" tabindex="0">Welcome to Azar's Resto</h1>
        <button class="hero__button">Read More</button>
      </div>
    </div>
    <main id="main-content" class="main-content__container">
      <div class="explore__content">
        <h2 tabindex="0" class="main-content__title">Explore Restaurant</h2>
        <div id="explore-items" class="explore-items"></div>
      </div>
    </main>
    <footer tabindex="0">
      <ul>
        <li>Copyrigth © 2021 - Azar's Resto</li>
      </ul>
    </footer>
  </body>
</html>
